.hidden {
  display: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #22343d;
}
*,
::before,
::after {
  box-sizing: border-box;
}
/* #region reset */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
button {
  line-height: 0;
  cursor: pointer;
}
/* #endregion reset */
/* #region common */
.container {
  width: 1110px;
  margin: 0 auto;
}
/* #endregion common */
/* #region header */

.header-container {
  display: flex;
  align-items: center;
}
.logo-link {
  text-decoration: none;
  display: flex;
  padding: 22px 0;
  gap: 16px;
  align-items: center;
}
.logo-item {
}
.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}
.header-nav {
  margin-left: 237px;
}
.list {
  list-style: none;
  display: flex;
}
.list-nav-menu {
  gap: 30px;
}
.menu-list {
  padding: 22px 0;
}
.menu-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}
.menu-link-small {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}
.list-button {
  margin-left: 73px;
  gap: 21px;
}
.white-button {
  font-family: inherit;
  background-color: transparent;
  font-weight: 600;
  min-width: 105px;
  height: 42px;
  font-size: 16px;
  text-align: center;
  color: #173a56;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
}
.green-button {
  font-family: inherit;
  background-color: #02897a;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  width: 113px;
  height: 42px;
  border-color: transparent;
}
/* #endregion header */
/* #region hero */
.hero {
  display: flex;
  margin-bottom: 100px;
}
.hero-main {
  margin: 112px 0;
  width: 465px;
  height: 331px;
  margin-right: 35px;
}
.hero-text {
  font-weight: 400px;
  font-size: 18px;
  line-height: 1.55;
  color: #22343d;
  margin-top: 18px;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: #22343d;
}
.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #22343d;
}
.hero .green-button {
  font-weight: 700;
}
.video-link {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background-color: #fff;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
}
.list-hero {
  margin-top: 45px;
  gap: 30px;
}
.list-hero .green-button {
  font-weight: 700;
  width: 178px;
  height: 53px;
}
.video-link {
  display: flex;
  align-items: center;
  width: 178px;
  height: 53px;
  border-color: transparent;
  gap: 8.66px;
}
.triangle {
}
.hero-img {
  margin-top: 25px;
}
/* #endregion hero */
/* #region product */
.product-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.product-list-group {
}
.title-product-cont {
  display: flex;
  justify-content: center;
}
.title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  max-width: 530px;
  margin-bottom: 50px;
}
.title-small {
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
  margin-bottom: 13px;
  width: 255px;
}
.product-section .green-button {
  display: block;
  font-weight: 700;
  width: 175px;
  height: 53px;
  text-transform: uppercase;
  margin: 0 auto 50px;
}
/* change icons incorect */
.product-icon {
  margin-bottom: 18.11px;
}

/* #endregion product */
/* #region managment */
.managment-section {
  display: flex;
}
.management-list {
  display: flex;
  flex-direction: column;
  gap: unset;
}
.managment-block {
  width: 486px;
  height: 418px;
  margin: 91px 84px 141px 0;
}

.managment-section .title {
  text-align: unset;
}
.big-text {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
}
.managment-section .text {
  margin-bottom: 30px;
}
.managment-section .text {
  margin-bottom: 25px;
}
.big-text-mod {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 12px;
}
.management-img {
  margin-top: 50px;
}
/* #endregion managment */
/* #region customer support */
.big-text {
  margin-bottom: 8px;
}
.customer-support .title {
  text-align: unset;
}
.customer-support {
  display: flex;
  margin: 100px auto;
}
.customer-support-block {
  width: 457px;
  height: 419px;
  margin: 41px 35px 40px 84px;
}
.customer-support-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.text-customer-support {
  margin-bottom: 30px;
}
.customer-support-group {
  display: flex;
  align-items: center;
  gap: 30px;
}
.customer-support-img {
}
.customer-support-icon {
}
/* #endregion customer support */
/* #region collab */
.collab {
  display: flex;
}
.collab-block {
  width: 486px;
  height: 418px;
  margin: 41px 84px 191px 0;
}
.text-collab {
  margin-bottom: 30px;
}
.collaboration-img {
}
.collab .title {
  text-align: unset;
}
.collab-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
/* #endregion collab */
/* #region quick and easy */
.quick {
}
.title {
}
.title-quick {
  display: block;
  margin: 0 auto 25px;
}
.quick .text {
  font-weight: 500;
  text-align: center;
  width: 542px;
  margin: 0 auto 40px;
}
.list-quick1 {
  padding: 0 101.5px;
  gap: 110px;
  justify-content: space-between;
}
.list-quick2 {
  gap: 100px;
  justify-content: center;
  margin-bottom: 50px;
}
.quick-icon {
  display: flex;
  gap: 19px;
  align-items: center;
}
.quick-img-one {
}
.phrases {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #2f281e;
  fill: #fff;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
  border-radius: 45%;
  width: 281px;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.quick-img-two {
}
.quick-img-three {
}
.quick-img-four {
}
.quick .green-button {
  display: block;
  font-weight: 700;
  width: 216px;
  height: 53px;
  margin: 0 auto 100px;
}
/* #endregion quick and easy */
/* #region contents */

.contents {
}
.contents .title {
  font-size: 34px;
  text-align: start;
  margin-bottom: 10px;
}
.contents .text {
  font-weight: 500;
  width: 465px;
  margin-bottom: 40px;
}
.contents .list {
  gap: 30px;
}
.contents-img {
}
.names-and-dates {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}
.title-contents {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66667;
  color: #22343d;
}
.green-text {
  color: #02897a;
}
/* #endregion contents */
/* #region price */
.price-table {
}
.price-table .title {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
.price-table .text {
  text-align: center;
  margin-bottom: 40px;
}
.price-list-main {
  display: flex;
  justify-content: space-between;
}
.price-list {
  width: 322px;
  height: 456px;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
}
.price-table .title-contents {
  margin-bottom: 8px;
  text-align: center;
}
.price-numbers {
  width: 157px;
  height: 100px;
  display: flex;
  margin-left: 57px;
}
.text-price-list {
  margin-bottom: 16px;
}
.big-numbers {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 76px;
  line-height: 1.32;
  letter-spacing: 0em;
  text-align: center;
  color: #02897a;
  margin-right: 7px;
}
.big-signs {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
  display: flex;
  align-self: start;
  margin-bottom: 4px;
}
.numbers-adj {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.01em;
  color: #afafaf;
}
.price-list-service {
  margin-top: 16px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.price-table .green-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  width: 139px;
  height: 44px;
}
.list-service-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.01em;
  color: #22343d;
  text-align: center;
}
.price-list-cust {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background-color: #02897a;
  width: 322px;
  height: 456px;
  padding: 32px;
  border-radius: 8px;
}
.title-contents-cust {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66667;
  color: #fff;
  text-align: center;
  margin-bottom: 8px;
}
.text-price-list-cust {
  margin-bottom: 16px;
  color: #fff;
}
.cust {
  color: #fff;
}
.price-table .white-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #02897a;
  background-color: #fff;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  width: 139px;
  height: 44px;
}
.numbers-adj-cust {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.01em;
  color: #e0e0e0;
}
/* #endregion price */
/* #region reviews */
.reviews {
  margin: 100px auto;
}
.title-reviews-main {
  margin: 0 auto 10px;
}
.short-line {
  display: block;
  max-width: 520px;
}
.text-reviews-main {
  width: 537px;
  margin: 0 auto 40px;
  text-align: center;
}
.list-review-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}
.list-review {
  display: flex;
  flex-direction: column;

  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 28px 26px;
  width: 327px;
  height: 240px;
  background-color: #fff;
}
.stars {
  margin-bottom: 16px;
}
.text-reviews {
  line-height: 1.75;
  color: #737373;
  width: 275px;
  height: 84px;
  margin-bottom: 16px;
}
.user-review {
  display: flex;
}
.wahid-ari {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 14px;
  text-align: left;
}
.user-name-green {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #02897a;
}
.user-profesion {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.01em;
  color: #252b42;
}
/* #endregion reviews */
/* #region join */
.join {
  border-radius: 32px;
  width: 968px;
  height: 345px;
  background-color: #02897a;
  border-radius: 32px;
  margin: 0 auto;
}
.join-container {
  display: flex;
}
.title-join {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.514;
  color: #fff;
  margin-top: 49px;
  margin-left: 51px;
  width: 510px;
}
.join .white-button {
  margin-top: 46px;
  margin-left: 51px;
  border-radius: 8px;
  width: 150px;
  height: 50px;
  background-color: #fff;
  border: transparent;
  color: #02897a;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 56px;
}
.join-pic {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 391px;
  height: 331px;
}
/* #endregion join */
/* #region footer */
.footer {
  margin: 100px 145px 40px;
}
/* #endregion footer */
